<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="favicons/favicon-48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16.png">
    <title>Doorprize</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-doodle/0.40.0/css-doodle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="background.css">
    <style>
        body {
            /* background: rgba(242,38,42,1); */
            font-family: Staatliches;
            color:white;
        }
        #container {
            background: linear-gradient(to bottom,  
                rgba(242,38,42,1) 0%, 
                rgba(160,160,22,1) 20%, 
                rgba(79,161,170,1) 40%, 
                rgba(130,161,230,1) 60%, 
                rgba(160,160,22,1) 80%, 
                rgba(242,38,42,1) 100%);
            background-size: 100% 400%;
            background-position:0 0;
        }
        @keyframes container_rolling_animation { 
            0%   {background-position: 0 0;}
            50%  {background-position: 0 100%;}
            100% {background-position: 0 0;}
        }
        #container.rolling {
            animation-name: container_rolling_animation;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        #container.selected {
            background: rgb(239,126,0);
            background: radial-gradient(circle, rgba(239,126,0,1) 0%, rgba(242,38,42,1) 100%);
        }
        @keyframes text_rolling_animation {
            0%   {transform: scale(1)}
            30%  {transform: scale(.7)}
            60%  {transform: scale(1.5)}
        }
        #text.rolling {
        }
        #congrats {
            font-family: Pacifico;
        }
        #confetti-canvas {
            position:fixed;
            height:100vh;
            width:100vw;
            top:0;
            left:0;
        }
        ::placeholder {
            opacity: .3 !important; 
        }

        .candidate {
            width:400px;
            max-width: 100%;
        }
    </style>
</head>
<body data-bs-theme="dark">
    <div id="app" class="z-2">
        <div id="background" class="position-fixed" :class="rolling ? '' : 'animation-paused'"></div>
        <div class="min-vh-100 vw-100 d-flex flex-column">
            <div class="p-2 p-lg-3">
                <div class="d-grid d-lg-flex align-items-center">
                    <div class="col-lg-3 pb-2 pb-lg-none">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex gap-1">
                                <button class="btn border-0 dt-tooltip" data-bs-placement="bottom" :disabled="rolling" @click="fillInput" data-bs-toggle="modal" data-bs-target="#modalParticipant" title="Peserta">
                                    <i class="fa fa-users"></i>
                                    <span class="ms-2">
                                        {{ participants.length }}
                                    </span>
                                </button>
                                <button class="btn border-0 dt-tooltip" data-bs-placement="bottom" :disabled="rolling" data-bs-toggle="modal" data-bs-target="#modalWinners" title="Pemenang">
                                    <i class="fa fa-trophy"></i>
                                    <span class="ms-2">
                                        {{ winners.length }}
                                    </span>
                                </button>
                                <div class="dropdown dt-tooltip" title="Jumlah pemenang">
                                    <button class="btn border-0" type="button" :disabled="rolling" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-dice"></i>
                                        <span class="ms-2">
                                            {{ winner_count }}
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li v-for="i in (participants.length > max_winner_count ? max_winner_count : participants.length)">
                                            <a class="dropdown-item" href="#" @click="winner_count = i">{{ i }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="d-lg-none">
                                <button class="btn dt-tooltip btn-info me-3" v-show="!rolling && current_winners.length > 0" data-bs-placement="bottom" title="Reset" @click="reset">
                                    <i class="fa fs-3 fa-arrows-rotate"></i>
                                </button>
                                <button class="btn dt-tooltip btn-success" v-show="!rolling" :disabled="rolling" data-bs-placement="bottom" title="Mainkan" @click="play">
                                    <i class="fa fs-3 fa-play"></i>
                                </button>
                                <button class="btn dt-tooltip btn-danger" v-show="rolling" data-bs-placement="bottom" title="Hentikan" @click="stop">
                                    <i class="fa fs-3 fa-stop"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control bg-transparent border-0 text-center fs-3" placeholder="Masukkan nama hadiah disini" :disabled="rolling" v-model="prize">
                    </div>
                    <div class="d-none d-lg-block col-lg-3 text-end">
                        <button class="btn dt-tooltip btn-info me-3" v-show="!rolling && current_winners.length > 0" data-bs-placement="bottom" title="Reset" @click="reset">
                            <i class="fa fs-3 fa-arrows-rotate"></i>
                        </button>
                        <button class="btn dt-tooltip btn-success" v-show="!rolling" :disabled="rolling || winner_count <= 0" data-bs-placement="bottom" title="Mainkan" @click="play">
                            <i class="fa fs-3 fa-play"></i>
                        </button>
                        <button class="btn dt-tooltip btn-danger" v-show="rolling" data-bs-placement="bottom" title="Hentikan" @click="stop">
                            <i class="fa fs-3 fa-stop"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center">
                <div class="p-2 p-lg-3 d-flex flex-wrap justify-content-center">
                    <div class="text-center position-relative m-3" v-for="i in winner_count">
                        <h1 id="text" class="rounded-3 display-2 text-bg-light py-2 px-3" :class="{rolling: rolling, selected: !rolling}">
                            <div v-if="current_winners[i-1] && current_winners[i-1].name">
                                {{ current_winners[i-1].name }}
                            </div>
                            <i class="fa fa-user-ninja opacity-50" v-else></i>
                        </h1>
                        <div v-if="current_winners[i-1] && current_winners[i-1].idx" class="dropdown position-absolute top-0 translate-middle start-100">
                            <button class="btn btn-secondary px-3 rounded-circle" type="button" :disabled="rolling" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#" @click="deleteCurrentWinner(i-1, true)">
                                        <i class="fa fa-rotate-left me-2"></i> Undi ulang
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#" @click="deleteCurrentWinner(i-1)">
                                        <i class="fa fa-times me-2"></i> Hapus
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <audio id="audio" src="music.mp3" ref="audio"></audio>

        <div class="modal fade" id="modalParticipant" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Daftar peserta</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ref="dismissModal"></button>
                    </div>
                    <div class="modal-body p-0">
                        <textarea class="form-control border-0" style="height: 70vh" ref="inputparticipants"></textarea>
                    </div>
                    <div class="modal-footer gap-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remove_duplicate" v-model="remove_duplicates">
                            <label class="form-check-label" for="remove_duplicate">Hapus duplikat</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="remove_already_won" v-model="remove_already_won">
                            <label class="form-check-label" for="remove_already_won">Hapus yang sudah menang</label>
                        </div>
                        <button type="button" class="btn btn-success" @click="saveParticipants">Simpan</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalWinners" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Daftar pemenang</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <table class="table align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>Hadiah</th>
                                    <th>Nama</th>
                                    <th style="width:20px"></th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr v-for="(row, idx) in winners">
                                    <th>{{ row.prize }}</th>
                                    <th>{{ row.name }}</th>
                                    <th>
                                        <button class="btn border-0" type="button" :disabled="rolling" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item" href="#" @click="deleteWinner(idx, true)">
                                                    <i class="fa fa-rotate-left me-2"></i> Undi ulang
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-danger" href="#" @click="deleteWinner(idx)">
                                                    <i class="fa fa-times me-2"></i> Hapus
                                                </a>
                                            </li>
                                        </ul>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="deleteAllWinners()">Hapus semua</button>
                        <button type="button" class="btn btn-warning" @click="deleteAllWinners(true)">Undi ulang semua</button>
                        <button type="button" class="btn btn-primary" @click="downloadWinners()">Unduh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="confetti.js"></script>
<script>
const { createApp } = Vue;

app = createApp({
    data() {
        return {
            max_winner_count: 10,
            current_winners: [],
            rolling: false,
            timer: null,
            prize: "",
            winner_count: 1,
            participants: [],
            winners: [],
            remove_duplicates: false,
            remove_already_won: false
        }
    },
    mounted() {
        const tooltipTriggerList = document.querySelectorAll('.dt-tooltip');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

        if (localStorage.getItem('participants')) this.participants = JSON.parse(localStorage.getItem('participants'));
        if (localStorage.getItem('winners')) this.winners = JSON.parse(localStorage.getItem('winners'));
        if (localStorage.getItem('prize')) this.prize = localStorage.getItem('prize');
        if (localStorage.getItem('winner_count')) this.winner_count = parseInt(localStorage.getItem('winner_count'));
        if (this.winner_count > this.max_winner_count) {
            this.winner_count = this.max_winner_count;
        }
    },
    methods: {
        saveParticipants: function() {
            this.selectedName = null;
            stopConfetti();
            this.participants =  this.$refs.inputparticipants.value ? this.$refs.inputparticipants.value.split("\n") : [];

            const initLength = this.participants.length;

            // trim value
            for (i=0; i<this.participants.length; i++) {
                this.participants[i] = this.participants[i].trim();
            }

            // remove dupes
            if (this.remove_duplicates) {
                this.participants = this.participants.filter((value, index, array) => {
                    return array.indexOf(value) === index;
                });
            }

            // remove already won
            if (this.remove_already_won) {
                winnerNames = [];

                for (const winner of this.winners) {
                    winnerNames.push(winner.name);
                }

                newParticipants = [];
                for (const participant of this.participants) {
                    if (!winnerNames.includes(participant)) {
                        newParticipants.push(participant);
                    }
                }

                this.participants = newParticipants;
            }

            this.storeData();

            if (initLength > this.participants.length) {
                alert(`${initLength - this.participants.length} peserta telah dihapus`)
            }

            this.$refs.dismissModal.click();
        },
        fillInput: function() {
            this.$refs.inputparticipants.innerHTML = this.participants.join("\n");
        },
        downloadWinners: function() {
            filename = 'daftar_pemenang.csv';
            text = '';

            for (const row of this.winners) {
                text += '"' + row.prize + '";' + row.name + '\n';
            }

            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        },
        addWinner: function() {
            this.winners.push({'prize': this.prize, 'name': this.selectedName});
            this.participants.splice(this.selectedIdx, 1);
            this.storeData();
        },
        deleteWinner: function(idx, reroll = false) {
            if (reroll) {
                this.participants.push(this.winners[idx].name);
            }

            this.winners.splice(idx, 1);
            this.storeData();
        },
        deleteCurrentWinner: function(idx, reroll = false) {
            if (reroll) {
                this.participants.push(this.current_winners[idx].name);
            }

            this.winners.splice(this.current_winners[idx].idx, 1);
            this.current_winners[idx] = null;
            this.storeData();
        },
        deleteAllWinners: function(reroll = false) {
            if (confirm('Data pemenang yang telah dihapus atau diundi ulang tidak bisa dikembalikan. Apakah Anda yakin?')) {
                if (reroll) {
                    for (const row of this.winners) {
                        this.participants.push(row.name);
                    }
                }
    
                this.winners = [];
                this.storeData();
            }
        },
        storeData: function() {
            localStorage.setItem('participants', JSON.stringify(this.participants));
            localStorage.setItem('winners', JSON.stringify(this.winners));
            localStorage.setItem('winner_count', this.winner_count);
            localStorage.setItem('prize', this.prize);
        },
        play: function() {
            if (this.winner_count > this.participants.length) {
                this.winner_count = this.participants.length;
            }

            this.rolling = true;
            this.$refs.audio.play();
            this.current_winners = [];
            stopConfetti();

            this.timer = setInterval(() => {
                for (let i = 0; i < this.winner_count; i++) {
                    //random participant
                    const participant_idx = Math.floor(Math.random() * this.participants.length);
                    const participant_name = this.participants[participant_idx];
                    this.current_winners[i] = {
                        name: participant_name
                    };
                }
            }, 50);
        },
        stop: function() {
            this.$refs.audio.pause();
            this.playing = false;
            this.rolling = false;
            clearInterval(this.timer);
            startConfetti();

            for (let i = 0; i < this.winner_count; i++) {
                const participant_idx = Math.floor(Math.random() * this.participants.length);
                const participant_name = this.participants[participant_idx];
                const winner_idx = this.winners.push({'prize': this.prize, 'name': participant_name}) - 1;
                this.current_winners[i] = {
                    idx: winner_idx,
                    name: participant_name
                };

                this.participants.splice(participant_idx, 1);
            }

            this.storeData();
        },
        reset: function() {
            this.$refs.audio.pause();
            stopConfetti();
            this.current_winners = [];
        },
    },
    watch: {
        winner_count: function(value) {
            this.selectedName = null;
            this.current_winners = [];
            stopConfetti();
            this.storeData();
        },
        prize: function(value) {
            this.selectedName = null;
            this.current_winners = [];
            stopConfetti();
            this.storeData();
        },
    }
}).mount('#app')
</script>

</html>